/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2018, 9:07:56 AM
    Author     : Luka
*/
/* OPTIONAL BOX SIZING REFERENCE
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

#main {
    max-width: 600px;
    margin: 0 auto;
}
.simple {
    width: 500px;
    margin: 20px auto;
    border: 1px solid red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fancy {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    border: solid blue 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.relative1 {
    position: relative;
    border: solid firebrick 10px;
}
.relative2 {
    position: relative;
    top: -20px;
    left: 20px;
    background-color: white;
    width: 500px;
    border: solid lightblue 10px;
}
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: white;
    border: solid yellow 5px;
    height: 100px;
}
.relative {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: lightblue;
}
.absolute {
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: firebrick;
}
.container {
    position: relative;
    background-color: lightblue;
}
nav {
    position: absolute;
    left: 0px;
    width: 200px;
    background-color: firebrick;
}
section {
    margin-left: 200px;
    background-color: yellow;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: white;
    width: 100%;
    background-color: green;
}
body {
    margin-bottom: 120px;
}